* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6
{
    margin:0;
    padding:0;
}
body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
}
a {
    text-decoration: none;
    color: black;
}
p 
{
    font-size: 0.8em;
}
.font{
    font-size: 1.2em;
}
input {
    border:o.1px solid black;
}
button:hover {
    cursor: pointer;
}
.border {
    border: 1px solid black;
}
.h-70 {
    height: 100vh;
}
.h-80 {
    height: 60%;
}
ul li {
    list-style-type: none;
    font-size: 0.85em;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.d-flex {
    display: flex;
}
.d-none,
.desktop-only,
.logo,
.content {
    display: none;
}
.desktop-none {
    display: block;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-direction {
    flex-direction: column;
}
.d-none,
.bg-image {
    display: none;
}
.text-white {
    color: white;
}
.text-bold {
    font-weight: bold;
}
.bg-red {
    background-color: rgb(211, 0, 2);
}
.bg-white {
    background-color: white
}
.margin-auto {
    margin: 0 auto;
}
.mt-50 {
    margin-top: 50px;
}
.mb-1 {
    margin-bottom: 1em
}
.p-0 {
    padding: 0.55em 0;
}
.p-1 {
    padding: 1em;
}
.p-2 {
    padding: 2em;
}
.b-radius-10 {
    border-radius: 10px;
}
.b-radius-20 {
    border-radius: 20px;
}
.backward-arrow-div {
    height:20px;
    width: 20px;
    border-radius: 50%;
}
.nav-dropdown {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: white;
    height:80vh;
    border-radius: 20px 20px 0 0;
    padding: 2em;
}
.nav-dropdown-content ul li{
    margin-top: 2.5em;
}
.grey-border {
    border:3px solid grey;
    width: 100px;
    margin:0 auto;
}
.ruling-house-search {
    height: 25vh;
    border-radius: 0 0 20px 20px;
    padding: 1em 2em
}
.ruling-leaders-div {
    height: 63vh;
    overflow-y: scroll;
    scrollbar-color: grey rgb(211, 0, 2);
    padding: 1em 0;
}
.ruling-leaders-list > div{
   box-sizing: border-box;
   background-color: white;
   width:98%;
   border-radius: 20px;
   padding: 1em;
   height:11em;
}
.ruling-leaders-list > div:hover{
    background-color: rgb(211, 0, 2);
    color:white;
    cursor:pointer;
}
.ruling-leaders-list {
    height: 4000px;
    padding: 0 1em;
}
.ruling-leaders-div::-webkit-scrollbar {
    width:5px;
    background-color: rgb(211,211,211);
    border-radius: 5px;
}
.ruling-leaders-div::-webkit-scrollbar-thumb:hover {
    width:5px;
    background-color: rgb(211, 0, 2);
}
.footer-nav{
    position:fixed;
    bottom:30px;
}
.footer-nav-btn {
    margin-bottom: -20px;
    z-index: 2;
    border: 0;
}
.move-footer-nav {
    bottom: -30px
}
.footer-nav-list div {
    width:18%;
}
.footer-nav-list {
    width: 780px;
}
.footer-navlist-div {
    overflow: scroll;
    border-radius: 10px;
}
.footer-navlist-div::-webkit-scrollbar {
   display: none;
}
.col-1{
    width:8.33%;
}
.col-2{
    width:16.67%;
}
.col-3{
    width:24.99%;
}
.col-4{
    width:33.32%;
}
.col-5{
    width:41.65%;
}
.col-6{
    width:49.98%;
}
.col-7{
    width:58.31%;
}
.col-8{
    width:66.64%;
}
.col-9{
    width:74.97%;
}
.col-10{
    width:83.3%;
}
.col-11{
    width:91.63%;
}
.col-12{
    width:99.96%;
}
@media screen and (max-width: 567px) {
    .present-ruler-div {
        display: none;
    }
    /* .footer-nav-list {
        width: 1000px;
        /* overflow: scroll;
    }
    .footer-navlist-div {
        overflow: scroll;
        border-radius: 10px;
    } */
}
@media screen and (min-width: 567px) {
    .col-sm-1{
        width:8.33%;
    }
    .col-sm-2{
        width:16.67%;
    }
    .col-sm-3{
        width:24.99%;
    }
    .col-sm-4{
        width:33.32%;
    }
    .col-sm-5{
        width:41.65%;
    }
    .col-sm-6{
        width:49.98%;
    }
    .col-sm-7{
        width:58.31%;
    }
    .col-sm-8{
        width:66.64%;
    }
    .col-sm-9{
        width:74.97%;
    }
    .col-sm-10{
        width:83.3%;
    }
    .col-sm-11{
        width:91.63%;
    }
    .col-sm-12{
        width:99.96%;
    }
    
}
@media screen and (min-width: 768px) {
    .col-md-1{
        width:8.33%;
    }
    .col-md-2{
        width:16.67%;
    }
    .col-md-3{
        width:24.99%;
    }
    .col-md-4{
        width:33.32%;
    }
    .col-md-5{
        width:41.65%;
    }
    .col-md-6{
        width:49.98%;
    }
    .col-md-7{
        width:58.31%;
    }
    .col-md-8{
        width:66.64%;
    }
    .col-md-9{
        width:74.97%;
    }
    .col-md-10{
        width:83.3%;
    }
    .col-md-11{
        width:91.63%;
    }
    .col-md-12{
        width:99.96%;
    }
}
@media screen and (min-width: 1024px) {
    .footer-nav-list {
        width: 1000px;
    }
    .col-lg-1{
        width:8.33%;
    }
    .col-lg-2{
        width:16.67%;
    }
    .col-lg-3{
        width:24.99%;
    }
    .col-lg-4{
        width:33.32%;
    }
    .col-lg-5{
        width:41.65%;
    }
    .col-lg-6{
        width:49.98%;
    }
    .col-lg-7{
        width:58.31%;
    }
    .col-lg-8{
        width:66.64%;
    }
    .col-lg-9{
        width:74.97%;
    }
    .col-lg-10{
        width:83.3%;
    }
    .col-lg-11{
        width:91.63%;
    }
    .col-lg-12{
        width:99.96%;
    }
}
@media screen and (min-width: 1200px) {
    .bg-image,
    .desktop-only,
    .logo,
    .content {
        display: block;
    }
    .grey-border,
    .desktop-none {
        display: none;
    }
    .nav-dropdown {
        position: unset;
        bottom:unset;
        width:unset;
        background-color:unset;
        height:unset;
        border-radius:unset;
        padding:unset;
    }
    .nav-dropdown-content ul li{
        margin-top:0;
    }
    .main-nav,
    .main-nav-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-nav {
        padding:0.5em 1em;
    }
    .main-nav-items li {
        padding:0.2em;

    }
    .main-nav-items a:hover {
        border-bottom: 2px solid rgb(211, 0, 2);
        color: rgb(211, 0, 2);
    }
    .bg-image {
        background-image: url(" https://atuwatseiii.com/assets/img/crests/iwere_kings/ginuwa_ii.jpg ");
        background-size: cover;
        background-position: center center;
        width: 50%;
    }
    .footer-nav-list {
         /* width: 100%; */
         display: flex;
         justify-content: space-between;
    }
    .col-xl-1{
        width:8.33%;
    }
    .col-xl-2{
        width:16.67%;
    }
    .col-xl-3{
        width:24.99%;
    }
    .col-xl-4{
        width:33.32%;
    }
    .col-xl-5{
        width:41.65%;
    }
    .col-xl-6{
        width:49.98%;
    }
    .col-xl-6-5 {
        width: 55%
    }
    .col-xl-7{
        width:58.31%;
    }
    .col-xl-8{
        width:66.64%;
    }
    .col-xl-9{
        width:74.97%;
    }
    .col-xl-10{
        width:83.3%;
    }
    .col-xl-11{
        width:91.63%;
    }
    .col-xl-12{
        width:99.96%;
    }
}